.background {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
    position: absolute;
    top: 0;
    left: 0;
}

.text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%); /* Center the text */
    color: #fff;
    text-align: left;
}

.text h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
/*button*/
.search-container{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    width: 750px;
    overflow: hidden;
}
.search-input{
    flex: 1;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 1em;
    color: #333;
}
.search-button{
    background-color: #ef5806;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search-button:hover{
    background-color: #e68a00;
}
/***search button**/
.glass{
    font-size: 1em;
    color:white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}
.search-button1{
    background-color: transparent;
    border: 1px solid #ccc;
    color:white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 8px;
    margin-top: 3px;
}
.search-button1:hover{
    background-color: rgba(0, 0, 0, 0.416);
}